.access-confirmation-modal {
    text-align: center;
    padding: 20px;
    font-size: 14px;

    .button-container {
        margin-top: 20px;

        button {
            margin: 0 10px;

            .spinner-gif {
                height: 20px;
                vertical-align: middle;
            }
        }
    }
}