.text-input-container {
    input {
        border: none;
        border-bottom: 1px solid lightgrey;
        font-size: 14px;
        outline: none;
        min-width: 200px;
        padding-bottom: 4px;

        &:focus {
            border-color: crimson;
        }

        &::placeholder {
            opacity: 0.5;
        }
    }
}