@import "./components/components";
@import "./containers/containers";

html, body {
    height: 100%;
    font-family: "Open Sans";
    margin: 0px;
}

.main-app-loader {
    text-align: center;
}

#app {
    .main-content-container {
        margin-left: 220px;
        margin-top: 45px;
    }
}

.grant-access-container {
    padding: 20px;
}

.stick-to-right {
    float: right;
}