html, body, #root {
  height: 100%;
  font-family: "Open Sans";
}

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-container {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

.logo-container img {
  margin-right: 5px;
}

.registration-container-wrapper, #App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-container {
  padding: 20px;
  box-shadow: 0 0 5px lightgrey;
  background: white;
  border-radius: 2px;
  margin: auto;
}

.form-row {
  margin: 10px 5px;
  text-align: center;
}

input[type="text"], input[type="password"] {
  color: #1d1d1d;
  border: 1px solid #b9b9b9;
  padding: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input[type="text"]:focus, input[type="password"]:focus  {
  outline: none;
  border-color: lightseagreen;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
  color: darkgray;
}

.register-btn {
  margin: auto;
}

.registration-type-button {
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  color: grey;
  cursor: pointer;
  padding: 5px 10px;
}

.registration-type-button.active {
  background: antiquewhite;
  border-radius: 2px;
  color: black;
}

.registration-type-button i {
  margin-right: 5px;
}

.react-datepicker-wrapper, .react-datepicker__input-container {
  width: 100%;
}

.registration-flow-container {
  width: 100%;

  .register-email-container {
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 5px lightgrey;
    border-radius: 5px;

    .login-user {
      font-size: 12px;
      margin-top: 20px;
    }
  }
}

.login-container {
  padding: 20px;
  box-shadow: 0 0 5px lightgrey;
  border-radius: 5px;

  .register-user {
    font-size: 12px;
    margin-top: 20px;
  }
}