.navbar-container {
    position: fixed;
    height: 100%;
    background: white;
    padding: 0 10px;
    font-size: 14px;
    min-width: 200px;
    top: 0;

    .all-links-container {
        padding: 0 20px;
    }

    .link-container {
        margin: 20px 0;
        text-align: right;
    }
}