.patient-search-container {
    .patient-filter-wrapper-container {
        margin-bottom: 20px;
    }
    .patient-list-wrapper-container {
        padding: 10px;
        .list-info {
            color: grey;
            font-size: 13px;
        }
    }
}